/* ======BASE STYLES======*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;    
    

}

  
fieldset {
    margin-bottom: 30px;
    border: none;
}



h1 {
    font-size: 1.3em;
    align-self: center;
}

h2 {
    text-align: center;
    color: black;
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

footer {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin-top: -2em;
    margin-bottom: 10em;
}


/* ======INPUT STYLES======*/



input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    width: 100%;
    padding: 15px 22px;
    margin: 10px 0 10px 0;
    border: white solid 1px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    resize: none;
    
}

input[name="user_zip"] {
    width: 50%;
} 

::placeholder {
    text-align: right;
    font-size: .8em;
    font-style: italic;
    color: #bbbbbb;
    padding-right: 1EM;
}



textarea {
    height: 100px;
}

button[type="submit"] {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 20px 22px;
    margin: 25px 0 10px 0;
    border: white solid 1px;
    border-radius: 5px;
    background-color: rgb(0, 194, 194);
}


/* ======PSEUDO INPUT STYLES======*/

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgb(19, 52, 68);
    border:2px solid rgb(19, 52, 68);
}


button:hover {
    outline: none;
    background-color: rgb(209, 125, 0);
}

/* ======CHECKBOX STYLES======*/

/* Hide default checkbox */
.custom-checkbox input[type=checkbox] {
    display: none;
}

/*custom check box */
.custom-checkbox {
font-size: 16px;
line-height: 20px;
padding-bottom: 1em;
}

.custom-checkbox label {
cursor: pointer;
}

.custom-checkbox label:before {
display: inline-block;
width: 20px;
margin-right: 5px;
content: "\00a0";
text-align: center;
background: #eee;
border-radius: 5px;
}

.custom-checkbox label:hover::before{
background: rgba(0, 195, 255, 0.404);
}

/* On check */
.custom-checkbox input:checked ~ label:before {
content: "\2714";
background: #00ffea;
color: #fff;
}

/* ======RADIO STYLES======*/

/* Hide default radio */
.custom-raido input[type=radio] {
    display: none;
}

/*custom radio */
.custom-raido {
font-size: 16px;
line-height: 20px;
padding-bottom: 1em;
}

.custom-raido label {
cursor: pointer;
}

.custom-raido label:before {
display: inline-block;
width: 20px;
margin-right: 5px;
content: "\00a0";
text-align: center;
background: #eee;
border-radius: 50%;
}

.custom-raido label:hover::before{
background: rgba(0, 195, 255, 0.404);
}

/* On check */
.custom-raido input:checked ~ label:before {
content: "\ffed";
background: #00ffea;
color: #fff;
font-size: 1em;
}

/* ======CLASS STYLES======*/

.main-header {
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 54, 68);
    color: white;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;

}

.col {
    display: flex;
    width: 320px;
}



.info {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1.2em;
}

.input-field {
    color: #535353;
    display: flex;
    flex-direction: column;
}

/* ======BODER STYLES======*/

.double-border {
    background-color: rgb(255, 255, 255);
    border-top: 4px solid rgb(12, 12, 12);
    padding: .2em;
    position: relative;
    margin: 0 auto;
    padding-bottom: 2em;
}

.double-border:before {
    background: none;
    border-top: 2px solid rgb(0, 0, 0);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.border_2 {
    border-top: black solid 2px;
    padding-bottom: 1em;
}

label.check-label {
    margin-left: .3em;
}

/* ======DESKTOP STYLES======*/

@media (min-width: 768px) {

    .col {
        width: 720px;
    }

    .signup {
        margin-top: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .info {
        width: 100%;
    }

    .input-field {
        display: flex;
        flex-direction: row;
    } 
    
    .input-field-item {
        flex: 1 250px;
        align-self: center;
    }

    .input-field-item2 {
        flex: 20;
        width: 30%;
    }
  
}
