/* ======BASE STYLES======*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;    
    transition: all .3s;

}

  
fieldset {
    margin-bottom: 30px;
    border: none;
}



h1 {
    font-size: 1.3em;
    align-self: center;
}

h2 {
    text-align: center;
    color: black;
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

footer {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin-top: -2em;
    margin-bottom: 10em;
}


/* ======INPUT STYLES======*/



input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    width: 100%;
    padding: 15px 22px;
    margin: 10px 0 10px 0;
    border: rgba(255, 255, 255, 0) solid 1px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    resize: none;
    
}

input[name="user_zip"] {
    width: 50%;
} 

::placeholder {
    text-align: right;
    font-size: .8em;
    font-style: italic;
    color: #bbbbbb;
    padding-right: 1EM;
}



textarea {
    height: 100px;
}

button[type="submit"] {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 20px 22px;
    margin: 25px 0 10px 0;
    border: white solid 1px;
    border-radius: 5px;
    background-color: rgb(0, 194, 194);
}


/* ======PSEUDO INPUT STYLES======*/

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(19, 52, 68, 0.603);
    border:2px solid rgba(19, 52, 68, 0.527);
    transition: background-color 1s ease-out;
    background-color: rgba(255, 180, 40, 0.397);
}


button:hover {
    outline: none;
    background-color: rgb(209, 125, 0);
}

/* ======CHECKBOX STYLES======*/

/* Hide default checkbox */
.custom-checkbox input[type=checkbox] {
    display: none;
}

/*custom check box */
.custom-checkbox {
font-size: 16px;
line-height: 20px;
padding-bottom: 1em;
}

.custom-checkbox label {
cursor: pointer;
}

.custom-checkbox label:before {
display: inline-block;
width: 20px;
margin-right: 5px;
content: "\00a0";
text-align: center;
background: #eee;
border-radius: 5px;
}

.custom-checkbox label:hover::before{
background: rgba(0, 195, 255, 0.404);
}

/* On check */
.custom-checkbox input:checked ~ label:before {
content: "\2714";
background: #00ffea;
color: #fff;
}

/* ======RADIO STYLES======*/

/* Hide default radio */
.custom-raido input[type=radio] {
    display: none;
}

/*custom radio */
.custom-raido {
font-size: 16px;
line-height: 20px;
padding-bottom: 1em;
}

.custom-raido label {
cursor: pointer;
}

.custom-raido label:before {
display: inline-block;
width: 20px;
margin-right: 5px;
content: "\00a0";
text-align: center;
background: #eee;
border-radius: 50%;
}

.custom-raido label:hover::before{
background: rgba(0, 195, 255, 0.404);
}

/* On check */
.custom-raido input:checked ~ label:before {
content: "\ffed";
background: #00ffea;
color: #fff;
font-size: 1em;
}

/* ======CLASS STYLES======*/

.main-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(42, 54, 68);
    color: white;
    text-transform: uppercase;
    
    
}

.signup {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(94,249,255,0.15029761904761907) 17%,
  rgba(0, 255, 200, 0.24) 49%, rgba(94,249,255,0.15029761904761907) 79%, rgba(255,255,255,0) 100%);
}



.col {
    display: flex;  
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}



.info {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1.2em;
}

.input-field,
.input-field2 {
    color: #535353;
    display: flex;
    flex-direction: column;
}

/* ======BODER STYLES======*/

.double-border {
    background-color: rgb(255, 255, 255);
    border-top: 4px solid rgb(12, 12, 12);
    padding: .2em;
    position: relative;
    margin: 0 auto;
    padding-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

.double-border:before {
    background: none;
    border-top: 2px solid rgb(0, 0, 0);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    
}

.border_2 {
    border-top: black solid 2px;
    padding-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
}


/* ======DESKTOP STYLES======*/

@media (min-width: 768px) {

    .main-header {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 1000;
        height: 70px;
    }

    body {
        margin-top: 2em;
    }

    .signup {
        margin-top: 2em;
    }

    
    h2 {
        font-size: 1.5em;
    }

    .info {
        width: 100%;
    }

    .col {
        margin-left: 20%;
        margin-right: 20%;
        max-width: 1000px;
    }

    .double-border {
        margin-left: 20%;
        margin-right: 20%;
    }

    .border_2 {
        margin-left: 20%;
        margin-right: 20%;
    }

    .input-field {
        display: flex;
        flex-direction: row;
    } 
    
    .input-field-item {
        flex: 1 40%;
        align-self: center;
        
    }

    .input-field2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

     
    } 

    .input-field-item2 {
        align-self: center;
        flex: 1 40%;
      
    }

    .input-field-item3 {
        align-self: center;
        flex: 1 60%;
    }

    input[name="user_zip"] {
        width: 40%;
    
    } 
}
